In [1]:
!pip install -r requirements.txt

Requirement already satisfied: matplotlib in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (3.1.3)
Requirement already satisfied: numpy in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (1.18.1)
Requirement already satisfied: pandas in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from -r requirements.txt (line 3)) (1.0.1)
Requirement already satisfied: scikit-learn in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from -r requirements.txt (line 4)) (0.22.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 1)) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from pandas->-r requirements.txt (line 3)) (2020.1)
Requirement already satisfied: joblib>=0.11 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from scikit-learn->-r requirements.txt (line 4)) (0.16.0)
Requirement already satisfied: scipy>=0.17.0 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.3.1)
Requirement already satisfied: six>=1.5 in /home/davide/.julia/conda/3/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib->-r requirements.txt (line 1)) (1.12.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
path = "heart_failure_clinical_records_dataset.train.csv"
data = pd.read_csv(path)

In [4]:
data.head()

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1,75.000,1,246,0,15,0,127000.00,1.20,137,1,0,10
1,1,75.000,0,99,0,38,1,224000.00,2.50,134,1,0,162
2,1,60.667,1,104,1,30,0,389000.00,1.50,136,1,0,171
3,0,52.000,0,132,0,30,0,218000.00,0.70,136,1,1,112
4,1,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27

In [5]:
from sklearn.model_selection import train_test_split

# seleziono la feature di output... si molto inutile
y = data["DEATH_EVENT"]
# seleziono le features che compariranno nel DataSet
X = data

# divido i dati in train (70%) e test (30%) e li mischio in modo da averli non ordinati,
# ma in modo deterministico (random_State = 42)  
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.3, random_state=42)

In [6]:
train_X

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
29,0,50.0,0,250,0,25,0,262000.0,1.0,136,1,1,120
124,0,70.0,0,88,1,35,1,236000.0,1.2,132,0,0,215
75,0,65.0,0,118,0,50,0,194000.0,1.1,145,1,1,200
82,0,60.0,1,2281,1,40,0,283000.0,1.0,141,0,0,187
5,1,68.0,1,220,0,35,1,289000.0,0.9,140,1,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0,65.0,0,582,1,40,0,270000.0,1.0,138,0,0,140
14,0,85.0,1,910,0,50,0,235000.0,1.3,134,1,0,121
92,0,50.0,0,2522,0,30,1,404000.0,0.5,139,0,0,214
179,0,45.0,0,308,1,60,1,377000.0,1.0,136,1,0,186
102,1,58.0,1,60,0,38,0,153000.0,5.8,134,1,0,26

In [7]:
# salvo i file in csv per utilizzarli nell'altro notebook
train_X.to_csv('train.csv')
test_X.to_csv('test.csv')